doctype html
html
  head
    title pureweber
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/article.css')
  body
    #appbar
    #container
        #article
        #comment
    #footer
    script(src='/dist/article.bundle.js')
