<!DOCTYPE html>
<html>
<head>
	<title>pureweber</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/blog-admin.css">
</head>
<body>
	<div id="appbar"></div>
	<div id="blog-admin-page">
		<div id="blog-list"></div>
		<div id="aside">
			<div id="cates"></div>
			<div id="search"></div>
			<div id="calendar"></div>
		</div>
	</div>
	<div id="footer"></div>
	
	<script src="../public/dist/blog-admin.bundle.js"></script>
</body>
</html>