doctype html
html
  head
    title Pureweber - 编辑文章
    link(rel='stylesheet', type='text/css', href='/stylesheets/edit.css')
  body
    #appbar
    #edit
    #footer
    script(src='/dist/edit.bundle.js')
