doctype html
html
  head
    title #{title}
    link(rel='stylesheet', type='text/css', href='/stylesheets/app.css')
  body
    #appbar(logged='#{logged}')
    #banner
      h2
        span PureWeber
      span 纯粹互联网
    #articles
    #footer
    script(src='/dist/app.bundle.js')
