doctype html
html
  head
    title Pureweber - 邀请新成员
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/invite.css')
  body
    #appbar
    #invite
    #preview
    #footer
    script(src='/dist/invite.bundle.js')
