body{
	margin: 0;
	padding:0;
}

#banner{
	padding-top: 100px;
	padding-bottom: 200px;
	background-color: rgb(0, 188, 212);
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
    line-height: 24px;
    letter-spacing: 5px
}

#articles{
	display: flex;
	flex-wrap: wrap;
	
	padding:  80px;
    text-align: center;
}

#articles>*{
	margin-left : 2%;
	margin-right : 2%;
	margin-top: 20px;
}

footer{
	background-color: rgb(33, 33, 33);
	padding: 50px;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	letter-spacing: 3px;
}
