html {
  margin: 0;
  padding:0;
  height: 100%;
}

body{
	margin:0;
	padding:0;
	min-height:100%; 
	height: auto !important; 
	height: 100%; 
	position: relative;
}

#container{
	padding-bottom: 60px;
}

#appbar{
	height: 48px;
}

@media screen and (min-width:660px) {
	#article{
		margin-top: 10px;
	}

}

@media screen and (max-width:660px) {
	#article{
	}

}