body{
	margin: 0;
	padding:0;
}

#appbar{
	height: 48px;
}

@media screen and (min-width:660px) {
	#article{
		margin-top: 20px;
	}

}

@media screen and (max-width:660px) {
	#article{
		margin-top: 80px;
	}

}